<footer class="footer">
<div class="footer-inner">
    <p class="license">
        Användning av allt material är fritt, om motsatsen inte anges. Formellt utrycks detta med licensen <a href="http://creativecommons.org/licenses/by/2.5/se/" target="_blank" title="Gå till Creative Commons licens sida">Creative Commons Erkännande 2.5 Sverige</a>.
    </p>
    <p class="fork">
        Detta projekt är publicerat som <a href="https://github.com/mah-webb/mah-webb.github.io" target="_blank" title="Gå till GitHub">öppen källkod på GitHub</a>. Föreslå gärna ändringar och bidra med förbättringar genom att göra en <a href="https://github.com/mah-webb/mah-webb.github.io" target="_blank" title="Gå till GitHub">fork av detta projekt på GitHub</a>.
    </p>
    <ul class="footer-links">
        <li>
            <a href="/" title="Gå till startsidan">Hem</a>
        </li>
        <li>
            <a href="/courses" title="Gå till kursöversikt">Kurser</a>
        </li>
        <li>
            <a href="/blog" title="Gå till bloggöversikt">Blogg</a>
        </li>
        <li>
            <a href="/contact" title="Gå till kontaktsidan">Kontakt</a>
        </li>
    </ul>
</div>
</footer>

<script src="/assets/js/common.js"></script>
